# Dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/packages/frontend/dist

# Environment variables
/packages/backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and OS files
.vscode
.DS_Store